
@{
    ViewBag.Title = "Projects";
}

<h2>Projects-</h2>

<h3>OOP1: Varsity Management System</h3>
<h3>OOP2: Blood-Bank Management System</h3>
<h3>Web Tech: Bank Management System</h3>
<h3>Advance Web Tech: Home Interior Designer</h3>


